<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819166361304-tt86p261ctgr6n4c5cedro575baq0f46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819166361304-tt86p261ctgr6n4c5cedro575baq0f46</string>
	<key>API_KEY</key>
	<string>AIzaSyDFUUHANcL8VBZky0UucJ80KZcCR7B8bG0</string>
	<key>GCM_SENDER_ID</key>
	<string>819166361304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.clemhilmy.MakanYuk</string>
	<key>PROJECT_ID</key>
	<string>makanyuk-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>makanyuk-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819166361304:ios:597bf397eb1d8465c789ad</string>
	<key>DATABASE_URL</key>
	<string>https://makanyuk-ios.firebaseio.com</string>
</dict>
</plist>